p#p1 {
  display: flex;
  margin-left: 79%;
}
input {
  padding: 10px;
}
button#search {
  padding: 10px;
  margin-right: 0;
}
button#search:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #bbb;
}
button#writer {
  position: relative;
  width: auto;
  margin-top: 20px;
  margin-left: 90%;
  padding: 10px;
  cursor: pointer;
}
button#writer:hover {
  box-shadow: 2px 2px 2px #bbb;
}
tbody > tr:hover {
  cursor: pointer;
  background-color: #f3eef0;
}

/* ------------------------------------------------------------------------- */

#info_box {
  padding-top: 50px;
  width: 100%;
  max-width: 1050px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.board {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  text-align: center;
}

.board tr th {
  border-top: 2px solid gray;
  padding: 10px;
  font-weight: bold;
  background-color: #f5f3f3;
  border-bottom: 1px solid lightgray;
}

.board tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px;
  border-bottom: 0.5px solid #eae9e9;
}

/* copyright ------------------------------------------------------------ */

footer {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border-top: 3px solid #d6b26e;
  line-height: 5;
}
