h2#notice {
  font-size: 25px;
}
p#p1 {
  display: flex;
  margin: 0;
  padding: 0;
}
p#p1 input {
  padding-right: 0;
  margin: 0;
  margin-left: 75%;
  width: 20%;
}
button#search {
  padding: 10px;
  margin: 0;
}
button#search:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #bbb;
}
button#writer {
  position: relative;
  width: auto;
  margin-top: 20px;
  margin-left: 90%;
  padding: 10px;
  cursor: pointer;
}
button#writer:hover {
  box-shadow: 2px 2px 2px #bbb;
}
tbody > tr:hover {
  cursor: pointer;
  background-color: #f3eef0;
}
