h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}
div {
  justify-content: space-between;
  display: flex;
  padding-left: 70%;
}
select,
p#p1 {
  padding: 1rem;
  margin: auto;
  width: 100%;
}
.con {
  margin: auto;
  max-width: 1000px;
}

.table-common > table {
  width: 100%;
  border-collapse: collapse;
}

.table-common > table th,
.table-common > table td {
  border: 1px solid black;
  padding: 10px;
}

.article-list table {
  border: none;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.article-list > table th,
.article-list > table td {
  border: none;
}

.article-list > table td {
  border-bottom: 1px solid lightgray;
}

.article-list > table thead {
  border-bottom: 2px solid lightgray;
  background-color: #f5f5f5;
}
button {
  margin-top: 20px;
  margin-left: 1400px;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  box-shadow: 3px 3px 3px #ddd;
}
tbody > tr > td {
  text-align: center;
}
.select {
  position: relative;
}

.select .option-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
}

.select.active .option-list {
  max-height: none;
}

body {
  margin: 10px;
  font-size: 14px;
}

select {
  width: 200px;
  padding: 0.8em 0.5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 0px;
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}
