@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
p#p1 {
  display: flex;
  margin-bottom: 30px;
  justify-content: flex-end;
}
input {
  margin-right: 10px;
  padding: 10px;
  border-radius: 15px;
  outline: 0;
  border: 1px solid lightgray;
}
input:focus {
  border-radius: 15px;
  border: 1px solid gray;
}
.title {
  margin-top: 20px;
  font-size: 25px;
  font-family: "NanumBarunGothic";
  margin-left: 5%;
}

button#search {
  padding: 10px;
  margin-right: 0;
  border-radius: 50px;
  outline: 0;
  border: 2px solid #b3d83c;
  background-color: white;
}
button#search:hover {
  cursor: pointer;
}
button#writer {
  height: 40px;
  cursor: pointer;
  width: 100px;
  margin-left: 200px;
  border-radius: 15px;
  outline: 0;
  border: 2px solid #b3d83c;
  background-color: white;
}

.board tr td:nth-of-type(2) {
  text-align: left;
  cursor: pointer;
}
tr:hover {
  background-color: #faf5ef;
}
td#align {
  text-align: left;
}

/* ------------------------------------------------------------------------- */

#info_box {
  padding-top: 50px;
  width: 100%;
  max-width: 1050px;
  margin: auto;
}

.board {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  text-align: center;
}

.board tr th {
  border-top: 2px solid gray;
  padding: 11.5px;
  font-weight: bold;
  background-color: #f5f3f3;
  border-bottom: 1px solid lightgray;
}

.board tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px;
  border-bottom: 0.5px solid #eae9e9;
}

/* paging --------------------------------------------------------------------*/
.paging {
  display: flex;

  margin-left: 400px;
  margin-top: 30px;
  width: 60%;
  height: 35px;
}

.paging a {
  color: black;

  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
}

.paging a.on {
  background-color: #f2fad8;
}

.paging a:hover:not(.on) {
  background-color: #f2fad8;
}

/* copyright ------------------------------------------------------------ */

footer {
  width: 100%;
  max-width: 1050px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border-top: 3px solid #d6b26e;
  line-height: 5;
}
.board span {
  color: red;
}
