@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

* {
  font-family: "NanumBarunGothic";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}

/* user ------------------------------------------------------------ */

article#main_top {
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: auto;
  margin-top: 230px;
  /* 가운데 정렬 해줘야 해서 margin:auto 쓰고 헤더높이만큼 아래로 와야 되기 때문에 margin-top을 그 아래에 써줌 */
}

/* height 쓰지 않고 padding */
article#main_top > section#user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid gray;
  max-width: 300px;
  padding: 40px;
}

article#main_top > section#user > input {
  font-size: 13px;
  line-height: 2.5;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 35px;
}

article#main_top > section#user > button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 10px;
}

/* slide ------------------------------------------------------------ */

article#main_top > section#slide {
  width: 730px;
  margin-left: 20px;
  margin-right: 0px;
  position: relative;
}

.slide {
  width: 100%;
  display: none;
}

.slide:first-child {
  display: block;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left {
  left: 20px;
}

.right {
  right: 7px;
}

#circleBox {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
}

.circle:first-child {
  background-color: #99c4c8;
}
