@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

form {
  width: 55%;
  margin: 50px auto;
}
fieldset {
  width: 90%;
  margin: 2% auto;
  border: 1px solid white;
  border-radius: 15px;
}
.board_title h2 {
  margin-top: 70px;
  padding-left: 3%;
  font-size: 30px;
  padding: 10px auto;
}
form div {
  width: 80%;
  margin: 20px auto;
}
form label {
  text-align: right;
  display: inline-block;
  width: 30%;
  margin: 8px 5px;
  padding: 10px;
  color: gray;
  font-weight: bold;
}
form input {
  width: 35%;

  padding: 5px 20px;
  border-radius: 25px;
  outline: 0;
  border-color: gray;
}

.btn_check {
  padding: 5px 10px;
  border-radius: 12px;
  margin-left: 3%;
  outline: 0;
  border-color: gray;
}

.btn_signbtn {
  justify-content: center;
  display: flex;
}
.btn_sign {
  margin-left: 35%;
}
.btn_sign button {
  padding: 10px 30px;
  border-radius: 12px;
  margin-left: 3%;
  outline: 0;
  border-color: gray;
}
