@charset "UTF-8";

/* 제목 - 여기어때잘난체 */
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 메뉴 - 롯데마트드림체 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: black;
}

header {
  position: fixed; /*상단에 고정*/
  top: 0;
  left: 0;
  width: 100%;
}

.navi {
  width: 100%;
  height: 200px;
  max-width: 1050px;
  margin: auto;
  background-color: #c3e5e9;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo a img {
  width: 400px;
}

.navi {
  width: 100%;
  max-width: 1050px;
  margin: auto;
}

.menu {
  display: flex;
  width: 80%;
  max-width: 1050px;
  margin: auto;
}

.list {
  font-family: "LotteMartDream";
  width: calc(100% / 7);
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}

.menu li:hover {
  background-color: #fff;
}

.menu li:hover a {
  color: #5babaf;
}
