@charset "UTF-8";

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  list-style: none; /* 앞에 점 지우기 */
  text-decoration: none;
}
html {
  height: 100%;
  box-sizing: border-box;
}
header h1 {
  font-family: "S-CoreDream-3Light";
  text-align: center;
  color: #99c4c8;
  font-size: 40px;
}
.menubar {
  display: flex;
  justify-content: center;
  background-color: #c3e5e9;
}
.menubar ul.menu {
  display: flex;
}
.menubar ul.menu li {
  font-family: "S-CoreDream-3Light";
  font-size: 18px;
  margin-right: 70px;
}
.menubar ul.menu li ul {
  position: absolute; /* 문서의 일반적인 흐름을 따르지 않고 가장 가까운 조상에 대해 상대적 위치로 배치 */
  display: none;
  padding-left: 0px;
}
.menubar ul.menu li:hover ul {
  display: block;
  z-index: 9999;
}
a {
  color: black;
}
a:hover {
  font-weight: bolder;
}
