h2#scrap {
  font-size: 25px;
}
select {
  padding: 2px 8px;
  width: 1px;
}
p#p1 {
  display: flex;
  margin-left: 79%;
}
input {
  padding: 10px;
}
button#search {
  padding: 10px;
  margin: 0;
}
button#search:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #bbb;
}
button#delete {
  position: relative;
  width: auto;
  margin-top: 20px;

  padding: 10px;
  cursor: pointer;
}
button#delete:hover {
  box-shadow: 2px 2px 2px #bbb;
}
tbody > tr:hover {
  cursor: pointer;
  background-color: #f3eef0;
}
