<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honjal.honjal.dao.ext.MemberDao">

	<select id="selectAll" resultType="MemberVO">
		SELECT * FROM tbl_member
	</select>
	<select id="findById" resultType="MemberVO">
		SELECT * FROM tbl_member
		WHERE
		member_id = #{member_id}
	</select>
	<insert id="insert" parameterType="MemberVO">
		INSERT INTO tbl_member(
		member_num,member_level,member_id,member_pw,member_nname,member_email
		)VALUES(
		#{member_num},#{member_level},#{member_id},#{member_pw},#{member_nname},#{member_eamil}
		)

	</insert>
	<update id="create_table">
		CREATE TABLE IF NOT EXISTS tbl_member(
		member_num BIGINT AUTO_INCREMENT PRIMARY KEY,
		member_level BIGINT NOT NULL,
		member_id VARCHAR(20) NOT NULL UNIQUE,
		member_pw VARCHAR(30) NOT NULL,
		member_nname VARCHAR(30) NOT NULL UNIQUE,
		member_email VARCHAR(30) NOT NULL UNIQUE
		)
	</update>









</mapper>
 