@charset "UTF-8";


#main_top, #main_middle {
	font-family: "NanumBarunGothic";
  display: flex;
  width: 1050px;
  height: 225px;
  margin: auto;
  align-items: flex-start;
  justify-content: space-between;
}

/* top ( user ) ------------------------------------------------------------ */

#main_user {
	display: flex;
  width: 30%;
  height: 100%;
  border: 1px solid gray;
  padding: 30px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
}

#main_user input {
  display: block;
  width: 90%;
  height: 25%;
  margin: auto;
  outline: 0;
  border-radius: 50px;
  border: 2px solid #b3d83c;
  font-size: 13px;
  line-height: 2.5;
  margin-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.5s;
}

#login_box input:focus {
  width: 100%;
}

#login_box button {
  width: 80px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  border: 2px solid lightgray;
}

#login_box button:hover {
  border: 2px solid #b3d83c;
  transition: 0.5s;
}

/* top ( slide ) ------------------------------------------------------------ */

#main_slide {
  width: 70%;
  height: 100%;
  margin-left: 20px;
  position: relative;
}

#slide_img_box {
  overflow: hidden;
  transform: scale(1);
  transition: transform 5s;
}

#main_slide img {
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer;
  transition: transform 0.5s linear;
}

#main_slide img:hover {
  transform: scale(1.1); /*  default */
  -webkit-transform: scale(1.1); /*  크롬 */
  -moz-transform: scale(1.1); /* FireFox */
  -o-transform: scale(1.1); /* Opera */
}

#main_slide img:first-child {
  display: block;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.left {
  left: 20px;
}

.right {
  right: 7px;
}

#circleBox {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
}

.circle:first-child {
  background-color: #d6b26e;
}

/* middle ( best , data )  ------------------------------------------------------------ */

#main_middle {
  margin-top: 50px;
}

#main_best,
#main_info {
  width: 50%;
}

#main_best {
  padding-right: 20px;
}
#main_info {
  padding-left: 20px;
}

#main_middle h2,
#main_bottom h2 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
}

#main_middle h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

#main_middle div {
  display: flex;
}

#main_middle img {
  width: 200px;
  height: 180px;
  padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
}

#main_best ol,
#main_info ul {
  width: 60%;
}

.list_best, .list_data {
  line-height: 2.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_best:hover,
.list_data:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list_best span {
  font-weight: bold;
}

#main_info div ul {
  list-style: disc;
}

/* bottom ------------------------------------------------------------ */

#main_bottom {
  margin: auto;
  margin-top: 50px;
  width: 1050px;
}

#main_bottom h2 {
  margin-bottom: 20px;
}

.board span {
  color: rgb(218, 4, 4);
}
