@charset "UTF-8";

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  margin: auto;
  text-align: center;
}

header img {
	cursor: pointer;
}

#navi {
  width: 100%;
  margin: auto;
}

/* h2 아래에 밑줄 긋기 */
/* #title h2:after {
  content: "";
  display: block;
  width: 120px;
  border-bottom: 2px solid #99c4c8;
  margin: 7px auto;
} */

#menu_box {
  display: flex;
  width: 70%;
  max-width: 1050px;
  margin: auto;
  list-style: none;
}

.menu_list {
  font-family: "LotteMartDream";
  width: calc(100% / 7);
  line-height: 40px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}
.menu_list:hover {
  color: #d6b26e;
}

header {
	margin-bottom: 40px;
}