@charset "UTF-8";

.read_box {
  background-color: #fcf8f3;
  padding-top: 10px;
  padding-right: 10px;
  text-align: left;
}

.ud_box {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn_update,
.btn_delete {
  width: 50px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.btn_delete {
  margin-left: 10px;
}

.content_box,
.comment_box {
  width: 100%;
  padding: 10px 100px 70px 100px;
}

.content_title {
  font-size: 25px;
}

.content_good_box {
  display: flex;
  margin-top: 15px;
  align-items: center;
  /* 같은 라인에 맞추기 */
  background-color: #e3ecc8;
  width: 70px;
  justify-content: center;
}

.content_good_box p {
  font-size: 15px;
}

.content_good_box img {
  width: 25px;
  height: 25px;
}

.content_w_box {
	width: 100%;
	text-align: right;
}

.content_date {
  font-size: 17px;
  padding-bottom: 10px;
}

.content_member {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.member_img {
	width: 30px;
	height: 30px;
	margin-left: 20px;
}

.content_text {
  font-size: 17px;
  margin-top: 40px;
  line-height: 30px;
}

.content_text img {
  width: 80%;
}

.content_bottom {
	margin-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.good {
	width: 60px;
  background-color: #e3ecc8;
  border-radius: 50px;
  margin: auto;
  cursor: pointer;
}

.content_bottom button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

/* comment ------------------------------------------------------------ */

hr {
  border: 0.1px solid lightgray;
  margin: 30px 0 50px 0;
}

.comment_box p {
  font-weight: bold;
}

#tb_comment_list,
#tb_comment {
  width: 100%;
  margin: auto;
  align-items: center;
}

.cm_img {
  vertical-align: middle;
}

#tb_comment_list span {
	font-size: 13px;
	color: gray;
}

#tb_comment_list img,
#tb_comment img {
  width: 30px;
  height: 30px;
}

.comment_box .cm_name,
.comment_box .cm_cm,
.comment_box textarea {
  padding: 15px;
  vertical-align: middle;
}

#tb_comment_list tr {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.comment_box textarea {
  width: 90%;
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
  resize: none;
}

.cm_btn {
  vertical-align: middle;
  text-align: center;
}

.cm_btn button {
	width: 40px;
	height: 25px;
	border: 1px solid gray;
}

#tb_comment .insert {
  width: 100px;
  height: 70px;
  border-radius: 15px;
  outline: 0;
  border: 2px solid #b3d83c;
  background-color: white;
  cursor: pointer;
}
